<div class="banner">
  <h1>Lists</h1>
</div>

<div class="container">
  <ul>
    <% @lists.each do |list| %>
      <li>
      <p><%= link_to list.name, list_path(list) %>
      <p><%= link_to "delete this list",  list_path(list), class: "btn btn-cancel", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>
      </li>

    <% end %>
  </ul>

<div>
  <%= link_to "Create a new list", new_list_path %>
</div>

</div>
